.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 100%;
    top: 79px;
}



h1#title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

img {
    border-radius: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

h3#about {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.7rem;
    line-height: 2rem;
    margin-top: 3rem;
    margin-left: 30%;
}
 
#para {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30%
}
ul#list {
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 30%
}
.topnav {
    /* overflow: hidden; */
    background-color: rgb(0, 0, 0);
    /* margin-top: -59%; */
    /* margin-bottom: 6%; */
    position: absolute;
    top: 2px;
    width: 100%;
}

.topnav a {
    float: right;
    color: #ffffff;
    text-align: center;
    padding: 29px 16px;
    font-size: 17px;
}

.topnav a:hover {
    background-color: rgb(231, 218, 218);
    color: rgb(255, 255, 255);
}

.topnav a.active {
    background-color: #0c0f0c;
    color: white;
}

.footer{
    color: red;
    text-align: center
}